node_modules/
.DS_Store
*.log
dist/
build/
.env
*.hprof
android/app/build/
ios/Pods/
.idea/
.gradle/
*.iml
local.properties
# Large files
target/debug/deps/libsawtooth_sdk-*.rlib
target/debug/deps/libhandreceipt_mobile.a
target/debug/
